@media (max-width: 640px) { 
    .container {
        flex-direction: column;
        transition:all 1s ease-in-out;
    }
/* sm */ }
@media (max-width: 768px) { 
    .container {
        flex-direction: column;
    }
/* md */ }
@media (min-width: 1024px) { 
    .container {
        flex-direction: row;
    }
/* lg */ }
@media (min-width: 1280px) { 
    .container {
        flex-direction: row;
    }
/* xl */ }

* {
    margin: 1em;
    padding: 1em;
}

nav {
    margin: 0.5%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: start;
    background-color: lightslategray;
    grid-column: 1/4;
}

main {
    margin: 1em;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    background-color: aliceblue ;
}

nav>ul {
    width: 50%;
    display: flex;
    align-items:flex-start;
    flex-direction: row;
    justify-content: space-around;
    align-self: self-end;
    list-style-type: none;
}

li {
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    font-size: 120%;
}

form {
    padding: auto;
    display: flex;
    flex-direction: column;
}